# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Engine 2D/.vs/
Engine 2D/Debug/
Engine 2D/engine2d/Resources/Images
Engine 2D/engine2d/Resources/Sounds
Engine 2D/engine2d/Debug/
Engine 2D/engine2d/engine2d.vcxproj
Engine 2D/engine2d/engine2d.filters
Engine 2D/engine2d/engine2d.user
